
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.ContentIMG{
    height: 185px;
	display: block;
    margin-left: auto;
    margin-right: auto;
}



.App-link {
  color: #61dafb;
}
.HeadingTop{
  color: white;
  padding-bottom: 20px;
  background-color: #1766f9;
  padding-top: 23px;
  font-size: 23px;

}
.contentBody{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.contentName{
  border-style: groove;
  margin: 5px;
}
.contentInfo{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.contentInfo2{
  padding-left: 20px;
  margin: 15px;
  color: black;
	text-decoration: none;
}
.BodyPhongBan{
  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
	margin-top: 15px;
}
.HeadingTitle{
  color: white;
padding-bottom: 20px;
background-color: #1766f9;
padding-top: 23px;
font-size: 23px;
display: grid;
grid-template-columns: 4% 11% 12% 13% 60%;
text-decoration: none;
}
.TitleLi
{color: white}
.Footer{
	background-color: #0dcaf0;
	display: grid;
    grid-template-columns: 1fr 1fr;
	padding: 25px;
	padding-bottom: 60px;
}
.FooterChild1{
	padding-left: 200px;
	padding-right: 523px;
}
.FooterChild2{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	padding-top: 100px;
    margin-bottom: 80px;
    margin-right: 630px;


}

.ContentSocial{
	font-size: 50px;
}
.CenterP{
	text-align: center;
    color: black;
    text-decoration: none;
}
.ProfileEmpoyee{
	display: grid;
    grid-template-columns: 18% 82%;

}
.AvatarProfileChild{
	height: 300px;
	margin: 20px;
}
.ContenProfile{
	margin-top: 15px;
}

.NameProfile{
    font-size: 25px;
}
.Contentchild1{
	font-size: 15px;
}
.BodyBangLuong{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}
.ContentBangLuong{
	border: solid;	
	margin-right: 30px;
	margin-bottom: 15px;
}
.ContentTinhLuong{
	padding-left: 15px;
    padding-bottom: 10px;
	background-color: #f7f7f7;
	border: inset;
}
.TopInfomationEmpoyer{
	display: grid;
	grid-template-columns: 3% 97%;
}
.BtnControl {
	grid-template-columns: 25% 75%;
    display: grid;
}
.btn-plusNV{
	padding-right: 20px;
    padding-left: 20px;
    font-size: 20px;
	margin-right: 640px;
	background-color: #6c6868;
	border-radius: 8px;
}
.inputSeach{
	font-size: 20px;
    margin-top: 20px;
	margin-right: 70px;
	padding-right: 90px;

}
.btn-Seach{
    padding-right: 20px;
    padding-left: 20px;
    font-size: 20px;
	background-color: #12b1f9;
	color: white;
	border-radius: 8px;
}
.Content-ThemNv{
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.Border-ThemNv{
	display: block;
	border: solid;
    padding-left: 350px;
    padding-right: 230px;
    padding-bottom: 60px;
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 15px;
}

@media only screen and (max-width: 1024px)  {
  .contentBody{
    display: grid;
  grid-template-columns: 1fr 1fr ;
  padding: 20px;
  }
  .contentInfo{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
  }
  .HeadingTop{
    color: black;
  padding-bottom: 20px;
  background-color: wheat;
  text-align: center;
  }
  .FooterChild1 {
      padding-left: 1px;
	  padding-right: 210px;
	}
}
.AvatarProfileChild {
    height: 200px;
    margin: 20px;
}
.ProfileEmpoyee {
    display: grid;
    grid-template-columns: 30% 70%;
}
.TopInfomationEmpoyer {
    display: grid;
    grid-template-columns: 5% 95%;
}
/* e kb bi sao nhung cho to cho nhat no van vao cai t2 nay */
/* .HeadingTitle {
    color: white;
    padding-bottom: 20px;
    background-color: #1766f9;
    padding-top: 23px;
    font-size: 15px;
    display: grid;
    grid-template-columns: 4% 14% 14% 14% 54%;
    text-decoration: none;
} */
.BodyPhongBan {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 15px;
}
.BodyBangLuong {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

li{
  list-style: none;
}
.ContentPBangLuong{
	padding-left: 15px;
	padding-bottom: 10px;
}
.ContentTopBangLuong{
	color: #8f939b;
}
@media only screen and (max-width: 375px) {
  .contentBody{
    display: grid;
  grid-template-columns: 1fr ;
  }
  .HeadingTop{
    color: black;
  padding-bottom: 20px;
  background-color: wheat;
  text-align: center;
  }
  .contentInfo{
	display: grid;
    grid-template-columns: 1fr;
  }
  .FooterChild1 {
    padding-left: 1px;
    padding-right: 1px;
    font-size: 15px;
}
.FooterChild2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    padding-top: 100px;
}
.ContentSocial {
    font-size: 30px;
}
.HeadingTitle {
    color: white;
    padding-bottom: 20px;
    background-color: #1766f9;
    padding-top: 23px;
    font-size: 15px;
    display: grid;
    grid-template-columns: 5% 26% 30% 28% 11%;
    text-decoration: none;
}
.AvatarProfileChild {
    height: 95px;
    margin: 20px;
}
.ContenProfile {
    margin-top: 0px;
    font-size: 10px;
}
.ProfileEmpoyee {
    display: grid;
    grid-template-columns: 33% 67%;
}
.TopInfomationEmpoyer {
    display: grid;
    grid-template-columns: 12% 88%;
}
.BodyPhongBan {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 15px;
}
.BodyBangLuong {
    display: grid;
    grid-template-columns: 1fr;
}
}